@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PuHuiTi';
    src: local('PuHuiTi'), url(./fonts/Alibaba-PuHuiTi-Regular.ttf) format('ttf');
  }
}





:root {
  --background: #1d232a;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d232a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

}
