@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PuHuiTi';
    src: local('PuHuiTi'), url(./fonts/Alibaba-PuHuiTi-Regular.ttf) format('ttf');
  }
}

@layer utilities {

  .glow-border {
    @apply border-white shadow-[0_0_10px_#fff,0_0_20px_#fff,0_0_30px_#fff,0_0_40px_#fff] animate-glow;
  }

  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    }
    50% {
      box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    }
  }

  .animate-glow {
    animation: glow 1s ease-in-out infinite;
  }
}



:root {
  --background: #1d232a;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d232a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

}
